body,
.main-wrapper {
	box-sizing: border-box;
	overflow-x: hidden !important;
}
.theme-bgs {
	background: var(--#{$pr}-sbg) !important;
}
.text-mutedl {
	color: var(--#{$pr}-ltext) !important;
}
h1,
h2,
h3,
h4:not(.entry),
h5,
h6 {
	color: var(--#{$pr}-stext);
	font-weight: bold;
}

a.resume-link {
	color: var(--#{$pr}-text) !important;
}
.resume-profile-image {
	width: 120px !important;
	height: 120px !important;
	object-fit: cover;
	object-position: center;
	border-radius: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--#{$pr}-text) !important;
	scrollbar-color: var(--#{$pr}-sbg) $primary !important;
	// scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 10px;
		background-color: var(--#{$pr}-sbg);
	}
	&::-webkit-scrollbar-thumb {
		background-color: $primary;
	}
}

//making image undraggable
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	// user-drag: none;
}

.card,
.card-img {
	border-radius: 0 !important;
	border: none;
}
*::selection {
	background: $primary;
	color: #fff;
}

.fafa {
	background: var(--#{$pr}-sbg);
	.heading {
		font-weight: bold;
	}
}
.custom-border {
	border: 1px solid rgba($color: #000000, $alpha: 0.2) !important;
}
.no-list {
	li {
		list-style: none !important;
	}
}
body {
	scroll-behavior: smooth !important;
}
.primary {
	color: $primary !important;
}
.single-col-max-width {
	max-width: 820px !important;
}
.text-snoothy {
	color: var(--#{$pr}-text) !important;
}

.no-decor {
	text-decoration: none !important;
}
.customTransition {
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

a:not(.btn):not(.text-l) {
	color: $primary;
	&:not(.resume-link):hover {
		color: darken($color: $primary, $amount: 20%) !important;
	}
}
.btn:not(.btn-secondary):not(.btn-secondary-custom):not(.language-btn):not(.header-hire) {
	background-color: $primary;
	&:hover {
		background-color: darken($color: $primary, $amount: 20%) !important;
	}
}
.fa-copyright {
	color: $primary;
}
.prj {
	background: $primary;
	border: 1px solid $primary;
	&:hover {
		background: darken($color: $primary, $amount: 20%);
		border-color: darken($color: $primary, $amount: 20%);
	}
}
.btn {
	font-weight: bold;
	transition: 0.4s ease-in-out all !important;
	color: #fff !important;

	// &:active {
	// 	transform: scale(0.9);
	// }
}
.btn-secondary-custom {
	background: var(--#{$pr}-cbtn) !important;
	&:hover {
		border-color: var(--#{$pr}-cbtnH) !important;
		background: var(--#{$pr}-cbtnH) !important;
	}
}
.section-title {
	font-size: 2rem;
	position: relative;
	padding-left: 1.5rem;
	&::before {
		content: '';
		display: inline-block;
		width: 5px;
		height: 100%;
		background: $primary;
		position: absolute;
		left: 0;
		top: 0;
	}
}

hr {
	border-color: var(--pr-tb) !important;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
	pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
	transition: 0.2s ease all !important;
}
footer {
	width: calc(100% - 280px);
	margin-left: 280px;
}
.main-wrapper {
	margin-left: 280px !important;
	overflow-x: hidden !important;
}
.v-router-enter {
	opacity: 0;
	pointer-events: none;
}
.v-router-enter-active {
	transition: 0.6s ease-in-out all;
}
.v-router-leave-active {
	opacity: 0;
	pointer-events: none;
	transition: 0.6s ease-in-out all;
}
