.rotated-enter {
	transform: rotateX(90deg);
}
.rotated-enter-active {
	transition: transform 0.3s ease-in-out;
}
.rotated-leave-active {
	transition: transform 0.3s ease-in-out;
	transform: rotateX(90deg);
}

// v-lazyimage
.filter {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	transition: 0.8s ease-in-out all;
}

@supports (backdrop-filter: blur(10px)) {
	.filter {
		backdrop-filter: blur(20px);
		background: rgba(0, 0, 0, 0.4);
	}
}

.v-lazy-image-loaded ~ .filter {
	opacity: 0;
}

.type {
	transition: 0.3s ease height !important;
}

.card-text {
	min-height: 90px !important;
}

//loading picture
.loader,
.loader:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.small-parent {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: $primary;
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 4px solid rgba(129, 129, 129, 0.1);
	border-right: 4px solid rgba(129, 129, 129, 0.1);
	border-bottom: 4px solid rgba(129, 129, 129, 0.1);
	border-left: 4px solid $primary;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	&.small {
		margin: 0px !important;
		width: 3em;
		height: 3em;
		border-top: 4px solid $primary;
		border-right: 4px solid $primary;
		border-bottom: 4px solid $primary;
		border-left: 4px solid rgb(255, 255, 255) !important;
		&:after {
			width: 3em;
			height: 3em;
		}
	}
}

body,
.main-wrapper {
	box-sizing: border-box;
	overflow-x: hidden !important;
}
.theme-bgs {
	background: var(--#{$pr}-sbg) !important;
}
.text-mutedl {
	color: var(--#{$pr}-ltext) !important;
}
h1,
h2,
h3,
h4:not(.entry),
h5,
h6 {
	color: var(--#{$pr}-stext);
	font-weight: bold;
}

a.resume-link {
	color: var(--#{$pr}-text) !important;
}
.resume-profile-image {
	width: 120px !important;
	height: 120px !important;
	object-fit: cover;
	object-position: center;
	border-radius: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--#{$pr}-text) !important;
	scrollbar-color: var(--#{$pr}-sbg) $primary !important;
	// scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 10px;
		background-color: var(--#{$pr}-sbg);
	}
	&::-webkit-scrollbar-thumb {
		background-color: $primary;
	}
}

//making image undraggable
img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	// user-drag: none;
}

.card,
.card-img {
	border-radius: 0 !important;
	border: none;
}
*::selection {
	background: $primary;
	color: #fff;
}

.fafa {
	background: var(--#{$pr}-sbg);
	.heading {
		font-weight: bold;
	}
}
.custom-border {
	border: 1px solid rgba($color: #000000, $alpha: 0.2) !important;
}
.no-list {
	li {
		list-style: none !important;
	}
}
body {
	scroll-behavior: smooth !important;
}
.primary {
	color: $primary !important;
}
.single-col-max-width {
	max-width: 820px !important;
}
.text-snoothy {
	color: var(--#{$pr}-text) !important;
}

.no-decor {
	text-decoration: none !important;
}
.customTransition {
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

a:not(.btn):not(.text-l) {
	color: $primary;
	&:not(.resume-link):hover {
		color: darken($color: $primary, $amount: 20%) !important;
	}
}

.sv {
	background-color: var(--pr-stext) !important;
	border-radius: 3px;
}
.btn:not(.btn-secondary):not(.btn-outline-primary):not(.btn-danger):not(.btn-secondary-custom):not(.language-btn):not(.header-hire) {
	background-color: $primary;
	color: #fff !important;

	&:hover {
		background-color: darken($color: $primary, $amount: 20%) !important;
	}
	&.close-btn {
		color: var(--pr-text) !important;
		&:hover {
			color: white !important;
		}
	}
	&.inactive {
		color: var(--pr-text) !important;
		&:hover {
			color: white !important;
		}
	}
	&.disable {
		cursor: not-allowed !important;
		background-color: darken($color: $primary, $amount: 20%) !important;
	}
}
.btn-outline-primary {
	border-color: $primary;
	color: var(--#{$pr}-text) !important;
	&:hover {
		background: $primary !important;
		border-color: $primary;
		color: white !important;
	}
}
.btn:not(.btn-outline-primary) {
	color: white !important;
}
.fa-copyright {
	color: $primary;
}
.prj {
	background: $primary;
	border: 1px solid $primary;
	&:hover {
		background: darken($color: $primary, $amount: 20%);
		border-color: darken($color: $primary, $amount: 20%);
	}
}
.btn {
	font-weight: bold;
	transition: 0.4s ease-in-out all !important;

	// &:active {
	// 	transform: scale(0.9);
	// }
}
.btn-secondary-custom {
	background: var(--#{$pr}-cbtn) !important;
	&:hover {
		border-color: var(--#{$pr}-cbtnH) !important;
		background: var(--#{$pr}-cbtnH) !important;
	}
}
.section-title {
	font-size: 2rem;
	position: relative;
	padding-left: 1.5rem;
	&::before {
		content: '';
		display: inline-block;
		width: 5px;
		height: 100%;
		background: $primary;
		position: absolute;
		left: 0;
		top: 0;
	}
}

hr {
	border-color: var(--pr-tb) !important;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
	pointer-events: none;
}
.fade-enter-active,
.fade-leave-active {
	transition: 0.2s ease all !important;
}
footer {
	width: calc(100% - 280px);
	margin-left: 280px;
}
.main-wrapper {
	margin-left: 280px !important;
	overflow-x: hidden !important;
}
.v-router-enter {
	opacity: 0;
	pointer-events: none;
}
.v-router-enter-active {
	transition: 0.6s ease-in-out all !important;
}
.v-router-leave-active {
	opacity: 0;
	pointer-events: none;
	transition: 0.6s ease-in-out all !important;
}
.slide-enter {
	opacity: 0;
	transform: translateX(-70%);
	pointer-events: none;
}
.slide-enter-active {
	transition: 0.5s ease-in-out all;
}
.slide-leave {
	position: absolute;
	bottom: 0;
}

.slide-leave-active {
	transform: translateX(70%);

	opacity: 0;
	pointer-events: none;
	transition: 0.5s ease-in-out all;
}
.editToggler {
	border-radius: 100%;
	position: fixed;
	bottom: 10px;
	width: 50px;
	height: 50px;
	right: 10px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	box-shadow: 0px 0px 45px rgba($color: #180f0f, $alpha: 0.1);
	i {
		font-size: 22px;
	}
}

.fade-enter {
	opacity: 0;
	pointer-events: none;
}
.fade-enter-active {
	transition: 0.4s ease-in-out all !important;
}
.fade-leave-active {
	opacity: 0;
	pointer-events: none;
	transition: 0.4s ease-in-out all !important;
}
