.btn {
	&:focus {
		box-shadow: none !important;
	}
}
body {
	position: relative;
}
.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}

.simplebar-scrollbar:before {
	width: 8px;
	background-color: darken($primary, 30%);
	border-radius: 0px;
	right: 0 !important;
	position: absolute !important;
	top: 0 !important;
}

.header {
	&-img {
		border-radius: 100% !important;
		border: none !important;
		outline: none !important;
		img {
			outline: none !important;

			border: none !important;
		}
		.filter {
			border-radius: 100% !important;
			top: -1px !important;
			left: -1px !important;
			height: calc(100% + 2px) !important;
			width: calc(100% + 2px) !important;
		}
	}
	.burger {
		display: none;
		justify-content: space-around;
		align-items: center;
		height: 30px;
		width: 40px;
		flex-direction: column;
		position: absolute;
		cursor: pointer;
		top: 20px;
		left: 20px;
		.extra {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		div {
			transition: 0.3s ease all;
			height: 2px;
			width: 100%;
			background: aliceblue;
		}
	}

	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: rgba(0, 0, 0, 0.2) $primary !important;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 7px;
		background-color: $primary;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}
	left: 0;
	top: 0%;
	// box-shadow: inset darken($color: $primary, $amount: 5%) 0px 0px 40px,
	// 	inset darken($color: $primary, $amount: 15%) 0px 0px 60px;
	color: white;
	width: 280px;
	height: 100vh;
	background: $primary;
	nav,
	.name {
		width: 272px;
	}
	nav {
		padding: 1.5rem 1rem;
	}
	.profile {
		img {
			width: 160px;
			height: 160px;
			border-radius: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.social-list {
		margin: 0px;
		li {
			a {
				color: $primary;
				font-size: 16px !important;
				height: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				transition: 0.4s ease-in-out all;
				&:hover {
					text-decoration: none;
					color: darken($color: $primary, $amount: 20%);
					background: rgb(241, 241, 241);
				}
				background: rgb(255, 255, 255);
				border-radius: 100%;
			}
		}
	}
	.navbar-nav {
		width: 200px;
	}
	.link {
		margin-left: 5px;
		cursor: pointer;
		display: block;
		padding: 0.5rem 1rem;
		width: 100% !important;
		color: rgb(243, 243, 243);
		display: flex;
		transition: color 0.3s ease-in-out;
		align-items: center !important;
		&:hover {
			color: darken($primary, 40%);
		}
		&.active {
			color: rgba($color: darken($primary, 60%), $alpha: 0.6);
		}
		b {
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 150% !important;
		}

		.dropdown-toggle::after {
			display: inline-block;
			margin-left: 0.255em;
			vertical-align: 0.255em;
			content: '';
			border-top: 0.3em solid;
			border-right: 0.3em solid transparent;
			border-bottom: 0;
			border-left: 0.3em solid transparent;
		}
	}
	.bio {
		text-align: center;
		font-size: 0.875rem;
	}
	.custom-btn {
		color: white;
		width: 68% !important;
		background: darken($color: $primary, $amount: 20%);
		&:hover {
			background: darken($color: $primary, $amount: 30%);
		}
	}
	.language-container {
		.language-btn {
			border: 1px solid white;
			padding: 5px 15px;
			&:hover {
				background: darken($color: $primary, $amount: 10%);
				border: rgb(212, 212, 212) 1px solid !important;
			}
			&.selected {
				background: darken($color: $primary, $amount: 20%);
			}
		}
	}
}
.fa-triangle {
	font-size: 6px;
	margin-top: 1px;
	transform: rotate(180deg);
}
.more-pages-wrapper {
	width: 75%;
}
.more-pages {
	li {
		color: white !important;
		&::after {
			content: ']';
			transform: translateX(12px);
		}
		&::before {
			content: '[';
			transform: translateX(-12px);
		}
		&::after,
		&::before {
			font-weight: bold;
			transition: 0.4s ease all;
			display: inline;
			opacity: 0;
			pointer-events: none;
		}
		&:hover,
		&:focus {
			color: white !important;
			background: darken($primary, 20%) !important;
			&::before,
			&::after {
				opacity: 1;
				transform: translateX(0);
				pointer-events: all;
			}
		}
		margin: 0 !important;
	}

	a {
		width: 100%;
		&:hover {
			text-decoration: none !important;
			color: white !important;
		}
	}
	background: darken($primary, 8%) !important;
}
.text-l {
	color: white !important;
}
svg:not(:root).svg-inline--fa {
	overflow: visible;
}
.svg-inline--fa.fa-fw {
	width: 1.25em;
}
hr {
	width: 100% !important;
}
.min {
	font-size: 0.95rem !important;
	font-weight: bold !important;
}
$switchColor: rgb(231, 231, 231);
.switch {
	width: 80px;
	height: 30px !important;
	border-radius: 20px;
	border: 3px $switchColor solid;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: 0.3s ease-in-out all;
	padding: 0% 2.5%;
	cursor: pointer;
	&:hover {
		border: 3px white solid;
		.switch-btn {
			background: white;
		}
	}
	&-btn {
		width: 50%;
		border-radius: 20px;
		height: 20px;
		background: $switchColor;
		transition: 0.3s ease-in-out all;
		&.darkOn {
			transform: translateX(100%);
		}
	}
}

@media (max-width: 1050px) {
	body {
		.header {
			.burger {
				display: flex !important;
			}
			z-index: 100;
			position: relative;
			z-index: 1200;
			max-height: 70px;
			transition: 0.3s ease max-height !important;
			overflow-y: hidden !important;
			&.navOpened {
				height: auto;
				max-height: 360vh !important;
				nav {
					transition: 0.3s all ease;
					display: flex !important;
				}
				.burger {
					.e_1 {
						transform: rotate(-45deg);
					}
					.e_2 {
						transform: rotate(45deg);
					}
					div:not(.extra) {
						transform: scale(0.5);
						opacity: 0;
						pointer-events: none;
					}
				}
			}
			width: 100% !important;
			.sm-name {
				padding: 0px !important;
				height: 70px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.more-pages {
				width: 300px !important;
			}
			.more-pages-wrapper {
				width: 100%;
				padding: auto;
			}
			.social-list {
				width: 250px !important;
			}

			nav {
				margin: 0 !important;
				width: 100% !important;
				&.my-d {
					display: none !important;
				}
				.navbar-nav {
					width: 100%;
				}
				.navigation {
					left: 0;
					width: 100% !important;
				}
			}
		}
		.main-wrapper,
		footer {
			margin-left: 0 !important;
			width: 100% !important;
		}
	}
}

@media (max-width: 455px) {
	.burger {
		transform: scale(0.7);
	}
	.sm-name {
		font-size: 1.2rem;
	}
}
@media (max-width: 400px) {
	.burger {
		left: 5px !important;
	}
}

#nprogress .bar {
	background: linear-gradient(
		to right,
		lighten($primary, 10%),
		darken($primary, 10%)
	);
}
#nprogress .peg {
	box-shadow: 0 0 10px $primary, 0 0 5px $primary;
}
#nprogress .spinner-icon {
	border-top-color: $primary;
	border-left-color: $primary;
}
