.container {
	max-width: 1140px;
	width: 100% !important;
	margin-right: auto;
	margin-left: auto;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.about-me-section {
	display: block;

	.name {
		font-size: 3rem !important;
	}
}
.no-gutters {
	height: 100% !important;
}
.overview-section {
	.js {
		color: #f1de4f;
	}
	.react {
		color: #62d4fa;
	}
	.python {
		color: #456e9c;
	}
	.npm {
		color: #bb443e;
	}
	.gulp {
		color: #c9514e;
	}
	.sass {
		color: #bf6b97;
	}
	.html {
		color: #de6e3c;
	}
	.css {
		color: #53a7dc;
	}
	.express {
		width: 30px;
		height: 30px;
		margin-bottom: 4px;
	}
	.item-icon {
		font-size: 1.875rem;
		color: #54b689;
	}
	.item {
		margin-bottom: 2rem;
		margin-left: 15px;
		margin-right: 15px;
		width: 350px !important;
		&-icon {
			transition: 0.3s ease-in-out all;
		}
		&:hover {
			.item-icon {
				transform: scale(1.1);
			}
		}
	}
	.item-icon {
		svg {
			transition: 0.3s ease-in-out all;
		}
	}
	.item-desc {
		color: var(--#{$pr}-ltext);
		font-size: 0.875rem;
	}
	.item-title {
		transition: 0.2s ease-in-out all;
		font-size: 1rem;
		font-weight: bold;
	}
}

.tr {
	transition: 0.3s ease-in-out all !important;
}

.link-mask {
	width: 60% !important;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	right: 0;
	bottom: 0;
}
.transformed {
	transform: translateZ(70px);
}
.transformed2 {
	transform: translateZ(60px);
}
.transformed3 {
	transform: translateZ(40px);
}
.transformed4 {
	transform: translateZ(20px);
}
.transformed5 {
	transform: translateZ(120px);
}

.profile-image {
	width: 400px !important;
	height: 300px !important;
	object-fit: cover;
	object-position: center;
}
.big-name {
	font-size: 3rem;
}
.tagline {
	font-weight: 300;
	font-size: 1.5rem;
}

.btn {
	padding: 0.375rem 1rem !important;
}
.card-title {
	* {
		font-weight: normal !important;
	}
}

.about-card {
	box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.2) !important;
	.card-body {
		transform-style: preserve-3d;
	}
	transform-style: preserve-3d;
}
.latest-blog-section {
	.card {
		width: 300px !important;
	}
}

body .main-wrapper .featured-section {
	.card {
		width: 480px !important;
		height: 165px !important;
	}
}

.project-card-img {
	height: 165px;
	img {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}
}

.blog-post-card {
	transition: 0.4s ease-in-out box-shadow;
	box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
	background: var(--#{pr}-sbg);
	&:hover {
		box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.2) !important;
	}
}

.observable {
	opacity: 0;
	pointer-events: none;
	// transition: 0.4s ease-in-out all;
	&.intersected {
		animation: intersectedAnimation 0.4s ease-in-out forwards;
	}
}

@keyframes intersectedAnimation {
	from {
		transform: translateY(40px);
		opacity: 0;
		pointer-events: none;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
		pointer-events: all;
	}
}

.watch {
	font-size: 16px !important;
}

@media (max-width: 1520px) {
	.overview-section .item {
		width: calc(50% - 30px) !important;
	}
}
@media (max-width: 1400px) {
	.about-me-section .card {
		// width: ;
	}
}
@media (max-width: 1360px) {
	.about-me-section .name {
		font-size: 2rem !important;
	}
}
@media (max-width: 1200px) {
	.profile-image {
		width: calc((400px / 3) * 2) !important;
		height: calc((300px / 3) * 2) !important;
	}
}
@media (max-width: 991px) {
	.latest-blog-section {
		.card {
			flex: 1 !important;
		}
	}
	body .main-wrapper .featured-section {
		.text-center {
			margin-top: 20px;
		}
		.card-wrapper {
			min-height: 495px !important;

			margin: 20px 0px;
			width: 390px !important;
			.btn {
				font-size: 0.875rem !important;
			}
		}
		.card {
			width: 342px !important;
			height: auto !important;
			min-height: 395px;
			.project-card-img {
				width: 100% !important;
				height: 230px !important;
			}
		}
	}
}
@media (max-width: 930px) {
	.overview-section .item {
		width: 90% !important;
	}
}
@media (max-width: 841px) {
	body .main-wrapper .featured-section {
		.card-wrapper {
			width: 342px !important;
			margin: 0 !important;
			padding-right: 0px !important;
			padding-left: 0px !important;
			padding-top: 20px !important;
			padding-bottom: 20px !important;
			min-height: 395px !important;
		}
	}
}
@media (max-width: 505px) {
	.featured-section .card-wrapper {
		width: 100% !important;
	}
}
@media (max-width: 455px) {
	.featured-section .card-wrapper {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media (max-width: 395px) {
	.about-me-section {
		.tagline {
			font-size: 1rem !important;
		}
		.name {
			font-size: 1.5rem !important;
		}
	}
	body .main-wrapper {
		.blog-post-card {
			width: 302px !important;
		}

		.featured-section {
			.card-wrapper {
				width: 302px !important;
			}
			.card {
				width: 302px !important;
			}
		}
	}
}
@media (max-width: 350px) {
	.about-me-section {
		padding: 20px 0px !important;
	}
	.section-title {
		font-size: 1.5rem !important;
	}
}
@media (max-width: 345px) {
	.featured-section .card-wrapper {
		.link-mask {
			width: 80% !important;
		}
	}
	body .main-wrapper {
		.blog-post-card {
			width: 272px !important;
		}
		.featured-section {
			.card-wrapper {
				width: 272px !important;
			}
			.card {
				width: 272px !important;
			}
		}
	}
}
