html body {
  --pr-bg: white;
  --pr-sbg: #fafafa;
  --pr-text: #4e4e4e;
  --pr-cbtn: #4e4e4e;
  --pr-cbtnH: #292929;
  --pr-ltext: rgb(0,0,0,0.6);
  --pr-stext: #292929;
  --pr-tb: rgba(0,0,0,0.1);
  background: var(--pr-bg);
}

body.dark {
  --pr-bg: #111821 !important;
  --pr-sbg: #151e29 !important;
  --pr-text: rgb(255,255,255,0.7);
  --pr-cbtn: #384f6c;
  --pr-cbtnH: #415c7c;
  --pr-ltext: rgba(255, 255, 255, 0.6);
  --pr-stext:rgb(255,255,255,0.95);
  --pr-tb: rgba(255,255,255,0.1);
}

body.dark .main-wrapper > section:first-child {
  background: var(--pr-bg);
}

body.dark .main-wrapper > .cta-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: none !important;
}

body.dark .header {
  scrollbar-color: rgba(255, 255, 255, 0.1) #1e2a3a !important;
  background: #1e2a3a !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.dark .header::-webkit-scrollbar {
  background-color: #1e2a3a;
}

body.dark .header::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark .header .link {
  margin-left: 5px;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  width: 100% !important;
  color: var(--pr-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

body.dark .header .link:hover {
  color: var(--pr-stext);
}

body.dark .header .link.active {
  color: #78c5a2;
}

body.dark .header .custom-btn {
  background: #54b689;
}

body.dark .header .custom-btn:hover {
  background: #40976f;
}

body.dark .header .more-pages {
  background: var(--pr-bg) !important;
}

body.dark .header .more-pages li:hover {
  background: #54b689 !important;
}

body.dark .header .switch {
  border-color: #54b689;
  background: var(--pr-sbg);
}

body.dark .header .switch-btn {
  background: #54b689;
}

body.dark .header .social-list {
  margin: 0px;
}

body.dark .header .social-list li a {
  color: var(--pr-stext) !important;
  background: #54b689 !important;
}

body.dark .header .social-list li a:hover {
  background: #317355 !important;
  color: var(--pr-stext) !important;
}

body.dark .simplebar-scrollbar:before {
  background: #38506caf !important;
}

body,
.main-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden !important;
}

.theme-bgs {
  background: var(--pr-sbg) !important;
}

.text-mutedl {
  color: var(--pr-ltext) !important;
}

h1,
h2,
h3,
h4:not(.entry),
h5,
h6 {
  color: var(--pr-stext);
  font-weight: bold;
}

a.resume-link {
  color: var(--pr-text) !important;
}

.resume-profile-image {
  width: 120px !important;
  height: 120px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--pr-text) !important;
  scrollbar-color: var(--pr-sbg) #54b689 !important;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--pr-sbg);
}

body::-webkit-scrollbar-thumb {
  background-color: #54b689;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card,
.card-img {
  border-radius: 0 !important;
  border: none;
}

*::-moz-selection {
  background: #54b689;
  color: #fff;
}

*::selection {
  background: #54b689;
  color: #fff;
}

.fafa {
  background: var(--pr-sbg);
}

.fafa .heading {
  font-weight: bold;
}

.custom-border {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.no-list li {
  list-style: none !important;
}

body {
  scroll-behavior: smooth !important;
}

.primary {
  color: #54b689 !important;
}

.single-col-max-width {
  max-width: 820px !important;
}

.text-snoothy {
  color: var(--pr-text) !important;
}

.no-decor {
  text-decoration: none !important;
}

.customTransition {
  -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

a:not(.btn):not(.text-l) {
  color: #54b689;
}

a:not(.btn):not(.text-l):not(.resume-link):hover {
  color: #317355 !important;
}

.btn:not(.btn-secondary):not(.btn-secondary-custom):not(.language-btn) {
  background-color: #54b689;
}

.btn:not(.btn-secondary):not(.btn-secondary-custom):not(.language-btn):hover {
  background-color: #317355 !important;
}

.fa-copyright {
  color: #54b689;
}

.prj {
  background: #54b689;
  border: 1px solid #54b689;
}

.prj:hover {
  background: #317355;
  border-color: #317355;
}

.btn {
  font-weight: bold;
  -webkit-transition: 0.4s ease-in-out all !important;
  transition: 0.4s ease-in-out all !important;
  color: #fff !important;
}

.btn-secondary-custom {
  background: var(--pr-cbtn) !important;
}

.btn-secondary-custom:hover {
  border-color: var(--pr-cbtnH) !important;
  background: var(--pr-cbtnH) !important;
}

.section-title {
  font-size: 2rem;
  position: relative;
  padding-left: 1.5rem;
}

.section-title::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #54b689;
  position: absolute;
  left: 0;
  top: 0;
}

hr {
  border-color: var(--pr-tb) !important;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  pointer-events: none;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: 0.2s ease all !important;
  transition: 0.2s ease all !important;
}

footer {
  width: calc(100% - 280px);
  margin-left: 280px;
}

.main-wrapper {
  margin-left: 280px !important;
  overflow-x: hidden !important;
}

.v-router-enter {
  opacity: 0;
  pointer-events: none;
}

.v-router-enter-active {
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
}

.v-router-leave-active {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.simplebar-scrollbar:before {
  width: 8px;
  background-color: #224f3a;
  border-radius: 0px;
  right: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.header {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgba(0, 0, 0, 0.2) #54b689 !important;
  scrollbar-width: thin;
  left: 0;
  top: 0%;
  color: white;
  width: 280px;
  height: 100vh;
  background: #54b689;
}

.header-img {
  border-radius: 100% !important;
  border: none !important;
  outline: none !important;
}

.header-img img {
  outline: none !important;
  border: none !important;
}

.header-img .filter {
  border-radius: 100% !important;
  top: -1px !important;
  left: -1px !important;
  height: calc(100% + 2px) !important;
  width: calc(100% + 2px) !important;
}

.header .burger {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;
}

.header .burger .extra {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .burger div {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  height: 2px;
  width: 100%;
  background: aliceblue;
}

.header::-webkit-scrollbar {
  width: 7px;
  background-color: #54b689;
}

.header::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.header nav,
.header .name {
  width: 272px;
}

.header nav {
  padding: 1.5rem 1rem;
}

.header .profile img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header .social-list {
  margin: 0px;
}

.header .social-list li a {
  color: #54b689;
  font-size: 16px !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  background: white;
  border-radius: 100%;
}

.header .social-list li a:hover {
  text-decoration: none;
  color: #317355;
  background: #f1f1f1;
}

.header .navbar-nav {
  width: 200px;
}

.header .link {
  margin-left: 5px;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  width: 100% !important;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.header .link:hover {
  color: #132b20;
}

.header .link.active {
  color: rgba(0, 0, 0, 0.6);
}

.header .link b {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 150% !important;
}

.header .link .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.header .bio {
  text-align: center;
  font-size: 0.875rem;
}

.header .custom-btn {
  color: white;
  width: 68% !important;
  background: #317355;
}

.header .custom-btn:hover {
  background: #224f3a;
}

.header .language-container .language-btn {
  border: 1px solid white;
  padding: 5px 15px;
}

.header .language-container .language-btn:hover {
  background: #40976f;
  border: #d4d4d4 1px solid !important;
}

.header .language-container .language-btn.selected {
  background: #317355;
}

.fa-triangle {
  font-size: 6px;
  margin-top: 1px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.more-pages-wrapper {
  width: 75%;
}

.more-pages {
  background: #439e74 !important;
}

.more-pages li {
  color: white !important;
  margin: 0 !important;
}

.more-pages li::after {
  content: ']';
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.more-pages li::before {
  content: '[';
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.more-pages li::after, .more-pages li::before {
  font-weight: bold;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  display: inline;
  opacity: 0;
  pointer-events: none;
}

.more-pages li:hover, .more-pages li:focus {
  color: white !important;
  background: #317355 !important;
}

.more-pages li:hover::before, .more-pages li:hover::after, .more-pages li:focus::before, .more-pages li:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}

.more-pages a {
  width: 100%;
}

.more-pages a:hover {
  text-decoration: none !important;
  color: white !important;
}

.text-l {
  color: white !important;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-fw {
  width: 1.25em;
}

hr {
  width: 100% !important;
}

.min {
  font-size: 0.95rem !important;
  font-weight: bold !important;
}

.switch {
  width: 80px;
  height: 30px !important;
  border-radius: 20px;
  border: 3px #e7e7e7 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  padding: 0% 2.5%;
  cursor: pointer;
}

.switch:hover {
  border: 3px white solid;
}

.switch:hover .switch-btn {
  background: white;
}

.switch-btn {
  width: 50%;
  border-radius: 20px;
  height: 20px;
  background: #e7e7e7;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.switch-btn.darkOn {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (max-width: 1050px) {
  body .header {
    z-index: 100;
    max-height: 70px;
    -webkit-transition: 0.3s ease max-height !important;
    transition: 0.3s ease max-height !important;
    overflow-y: hidden !important;
    width: 100% !important;
    position: static;
  }
  body .header .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  body .header.navOpened {
    height: auto;
    max-height: 160vh !important;
  }
  body .header.navOpened nav {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  body .header.navOpened .burger .e_1 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  body .header.navOpened .burger .e_2 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body .header.navOpened .burger div:not(.extra) {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
  }
  body .header .sm-name {
    padding: 0px !important;
    height: 70px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header .more-pages {
    width: 300px !important;
  }
  body .header .more-pages-wrapper {
    width: 100%;
    padding: auto;
  }
  body .header .social-list {
    width: 250px !important;
  }
  body .header nav {
    margin: 0 !important;
    width: 100% !important;
  }
  body .header nav.my-d {
    display: none !important;
  }
  body .header nav .navbar-nav {
    width: 100%;
  }
  body .header nav .navigation {
    left: 0;
    width: 100% !important;
  }
  body .main-wrapper,
  body footer {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 455px) {
  .burger {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .sm-name {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .burger {
    left: 5px !important;
  }
}

#nprogress .bar {
  background: -webkit-gradient(linear, left top, right top, from(#78c5a2), to(#40976f));
  background: linear-gradient(to right, #78c5a2, #40976f);
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px #54b689, 0 0 5px #54b689;
          box-shadow: 0 0 10px #54b689, 0 0 5px #54b689;
}

#nprogress .spinner-icon {
  border-top-color: #54b689;
  border-left-color: #54b689;
}

.container {
  max-width: 1140px;
  width: 100% !important;
  margin-right: auto;
  margin-left: auto;
}

.about-me-section {
  display: block;
}

.about-me-section .name {
  font-size: 3rem !important;
}

.overview-section .js {
  color: #f1de4f;
}

.overview-section .react {
  color: #62d4fa;
}

.overview-section .python {
  color: #456e9c;
}

.overview-section .npm {
  color: #bb443e;
}

.overview-section .gulp {
  color: #c9514e;
}

.overview-section .sass {
  color: #bf6b97;
}

.overview-section .html {
  color: #de6e3c;
}

.overview-section .css {
  color: #53a7dc;
}

.overview-section .express {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}

.overview-section .item-icon {
  font-size: 1.875rem;
  color: #54b689;
}

.overview-section .item {
  margin-bottom: 2rem;
  margin-left: 15px;
  margin-right: 15px;
  width: 350px !important;
}

.overview-section .item-icon {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.overview-section .item:hover .item-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.overview-section .item-icon svg {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.overview-section .item-desc {
  color: var(--pr-ltext);
  font-size: 0.875rem;
}

.overview-section .item-title {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  font-size: 1rem;
  font-weight: bold;
}

.tr {
  -webkit-transition: 0.3s ease-in-out all !important;
  transition: 0.3s ease-in-out all !important;
}

.link-mask {
  width: 60% !important;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
  bottom: 0;
}

.transformed {
  -webkit-transform: translateZ(70px);
          transform: translateZ(70px);
}

.transformed2 {
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}

.transformed3 {
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
}

.transformed4 {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.transformed5 {
  -webkit-transform: translateZ(120px);
          transform: translateZ(120px);
}

.profile-image {
  width: 400px !important;
  height: 300px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.big-name {
  font-size: 3rem;
}

.tagline {
  font-weight: 300;
  font-size: 1.5rem;
}

.btn {
  padding: 0.375rem 1rem !important;
}

.card-title * {
  font-weight: normal !important;
}

.about-card {
  -webkit-box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.2) !important;
          box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.2) !important;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.about-card .card-body {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.latest-blog-section .card {
  width: 300px !important;
}

body .main-wrapper .featured-section .card {
  width: 480px !important;
  height: 165px !important;
}

.main-wrapper {
  -webkit-perspective: 1600px;
          perspective: 1600px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.project-card-img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-post-card {
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  -webkit-box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
          box-shadow: 0px 0px 15px rgba(1, 1, 1, 0.1) !important;
  background: var(--pr-sbg);
}

.blog-post-card:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.2) !important;
          box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.2) !important;
}

.observable {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.observable.intersected {
  opacity: 1 !important;
  pointer-events: all !important;
}

.watch {
  font-size: 16px !important;
}

@media (max-width: 1520px) {
  .overview-section .item {
    width: calc(50% - 30px) !important;
  }
}

@media (max-width: 1360px) {
  .about-me-section .name {
    font-size: 2rem !important;
  }
}

@media (max-width: 1200px) {
  .profile-image {
    width: calc((400px / 3) * 2) !important;
    height: calc((300px / 3) * 2) !important;
  }
}

@media (max-width: 991px) {
  .latest-blog-section .card {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  body .main-wrapper .featured-section .text-center {
    margin-top: 20px;
  }
  body .main-wrapper .featured-section .card-wrapper {
    height: 395px !important;
    margin: 20px 0px;
    width: 390px !important;
  }
  body .main-wrapper .featured-section .card-wrapper .btn {
    font-size: .875rem !important;
  }
  body .main-wrapper .featured-section .card {
    width: 100% !important;
    height: auto !important;
  }
  body .main-wrapper .featured-section .card .project-card-img {
    width: 100% !important;
    height: 230px !important;
  }
}

@media (max-width: 930px) {
  .overview-section .item {
    width: 90% !important;
  }
}

@media (max-width: 505px) {
  .featured-section .card-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 455px) {
  .featured-section .card-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 395px) {
  .about-me-section .tagline {
    font-size: 1rem !important;
  }
  .about-me-section .name {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 350px) {
  .about-me-section {
    padding: 20px 0px !important;
  }
  .section-title {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 345px) {
  .featured-section .card-wrapper .link-mask {
    width: 80% !important;
  }
}

.filters {
  list-style: none;
  font-size: 0.875rem;
  margin-top: 0 !important;
  color: var(--pr-ltext) !important;
  display: block !important;
  margin-bottom: 40px;
}

.filters li {
  font-weight: bold !important;
  display: inline-block;
  padding: 0.275rem 0.25rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filters li:hover {
  color: var(--pr-stext);
}

.card-text {
  font-size: 0.875rem;
  color: var(--pr-text);
}

.project-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-media .card-img-holder {
  height: 100%;
}

.isotope-item {
  height: auto !important;
  width: auto !important;
}

.isotope-item .link-mask {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.isotope-item .link-mask:hover {
  background: rgba(0, 0, 0, 0.4);
}

.isotope-item .link-mask:hover .btn {
  opacity: 1 !important;
  pointer-events: all !important;
  -webkit-transition: 0.2s ease all !important;
  transition: 0.2s ease all !important;
}

.isotope-item .link-mask .btn {
  opacity: 0;
  pointer-events: none;
}

.isotope-item .card-title .theme-link {
  color: var(--pr-stext);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: var(--pr-text);
          text-decoration-color: var(--pr-text);
  text-decoration-thickness: 1px;
}

.isotope-item .card:nth-child(odd) {
  margin-right: 15px;
}

.isotope-item .card:nth-child(even) {
  margin-left: 15px;
}

.isotope-item .card {
  position: relative !important;
  height: 202px !important;
  width: 540px !important;
  border: 1px solid rgba(0, 0, 0, 0.025);
  background: var(--pr-sbg) !important;
}

.isotope-item .card img,
.isotope-item .card .card-img,
.isotope-item .card .project-media {
  height: 100% !important;
}

.isotope-item .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.filter-active {
  color: #54b689 !important;
  border-top: 2px solid #54b689;
}

.grid:after {
  content: '';
  display: block !important;
}

.grid,
.grid * {
  overflow: hidden !important;
}

@media (max-width: 1500px) {
  .grid {
    width: 550px !important;
    margin: auto !important;
  }
}

@media (max-width: 992px) {
  .card-img-holder,
  .card-img {
    width: 180px !important;
    height: 100%;
  }
  .content {
    width: 358px !important;
    height: 100%;
  }
  .project-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media (max-width: 600px) {
  .project-media {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
  }
  .project-media .content {
    width: 100% !important;
  }
  .projects .container {
    padding: 0 !important;
  }
  .grid {
    width: 100% !important;
  }
  .isotope-item {
    width: 100% !important;
  }
  .projects .card {
    height: auto !important;
    width: 80% !important;
    margin: 0 10% !important;
  }
  .projects .card .card-img-holder {
    width: 100% !important;
  }
  .projects .card .card-img-holder img {
    width: 100% !important;
  }
}

@media (max-width: 420px) {
  .projects .card {
    width: 90% !important;
    margin: 0 5% !important;
  }
  .projects-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.table-bordered {
  border: 1px solid #a9a9a9;
}

.pricing-table .pricing-desc-row {
  vertical-align: inherit;
}

.theme-bg-light {
  background: var(--pr-sbg) !important;
}

.pricing-table .price-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-table tbody th {
  background: var(--pr-sbg);
  padding: 1rem;
  width: 30%;
  font-size: 0.875rem;
}

.pricing-table tfoot td {
  padding: 1rem;
  text-align: center;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  text-indent: initial;
  border-spacing: 2px;
}

.more-pages {
  background: #317355;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody a.btn {
  background-color: #54b689 !important;
}

tbody a.btn:hover {
  background-color: #317355 !important;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-bordered th,
.table-bordered td {
  border-color: var(--pr-tb);
}

.pricing-table tbody td {
  padding: 1rem;
  width: 23.3333333%;
  text-align: center;
  font-size: 0.875rem;
}

.pricing-table th {
  display: table-cell !important;
}

.single-col-max-width {
  max-width: 820px;
}

.faq-accordion .card-title {
  position: relative;
  padding-right: 2rem;
  font-size: 1rem;
}

.faq-accordion .card-title .svg-inline--fa {
  position: absolute;
  right: 0;
  top: 0;
}

.heading {
  font-size: 2rem !important;
  font-weight: bold !important;
}

.faq-accordion .card-toggle {
  color: var(--pr-text);
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.faq-accordion .card-toggle:hover {
  color: var(--pr-stext) !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  cursor: pointer;
}

.pricing-table .pricing-package-title {
  font-size: 1rem;
  color: #54b689;
  text-align: center;
  padding: 1rem;
}

.pricing-table td,
.pricing-table th {
  display: table-cell !important;
}

.resume-section-heading {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: #54b689;
}

.resume-section-heading::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: #54b689;
  position: absolute;
  left: 0;
  top: 0;
}

.item-title {
  font-size: 1rem;
}

.resume-wrapper a.resume-link:hover {
  color: #54b689 !important;
}

.resume-wrapper p,
.resume-wrapper li {
  font-size: 0.875rem;
}

.resume-wrapper li svg {
  font-size: 1rem !important;
}

.resume-wrapper .resume-contact {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 0.75rem !important;
}

.resume-wrapper .resume-contact .resume-link {
  font-size: 0.75rem !important;
}

.websites {
  width: 200px !important;
}

.media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.resume-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.025);
}

.resume-name {
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #54b689;
}

.resume-tagline {
  font-size: 1.25rem;
  font-weight: 300;
}

@media (max-width: 1275px) {
  .resume-name {
    font-size: 2.25rem !important;
  }
}

@media (max-width: 1205px) {
  .resume-name {
    font-size: 2rem !important;
  }
}

@media (max-width: 1160px) {
  .resume-name {
    font-size: 1.75rem !important;
  }
}

@media (max-width: 1090px) {
  .resume-name {
    font-size: 1.50rem !important;
  }
  .resume-tagline {
    font-size: 1.10rem !important;
  }
}

@media (max-width: 1050px) {
  .resume-name {
    font-size: 2rem !important;
  }
  .resume-tagline {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 815px) {
  .resume-name {
    font-size: 1.75rem !important;
  }
}

@media (max-width: 767px) {
  .resume-name {
    font-size: 2rem !important;
  }
}

@media (max-width: 577px) {
  .resume-name {
    font-size: 1.75rem !important;
  }
}

@media (max-width: 528px) {
  .resume-name {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 480px) {
  .resume-name {
    letter-spacing: 0.1rem;
    font-size: 1.25rem !important;
  }
  .resume-tagline {
    font-size: 1rem !important;
  }
}

@media (max-width: 402px) {
  .resume-wrapper {
    padding: 2rem !important;
  }
}

@media (max-width: 370px) {
  .resume-name {
    font-size: 1rem !important;
    letter-spacing: 0.05rem !important;
  }
  .resume-tagline {
    font-size: 0.875rem !important;
  }
}

.blog-lang {
  text-transform: capitalize;
}

.blog .my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main-wrapper .blog-media {
  width: 300px !important;
}

@media (max-width: 1050px) {
  .blog .signup-form {
    width: 100% !important;
  }
}

@media (max-width: 735px) {
  .blog .heading {
    font-size: 1.75rem !important;
  }
}

@media (max-width: 640px) {
  .blog .heading {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 360px) {
  .blog .signup-form {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .blog .signup-form button {
    margin-top: 10px;
  }
  .blog .signup-form .wrap-input2 {
    width: 100% !important;
    margin: 0 !important;
  }
  .blog .signup-form .wrap-input2 input {
    width: 100% !important;
    outline: none !important;
  }
}

.fa-1_5x {
  font-size: 1.575rem;
}

.container-contact2 {
  padding: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contact2 form {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 600px;
}

.container-contact2 form div.wrap-input2,
.container-contact2 form input,
.container-contact2 form textarea {
  width: 100%;
}

.container-contact2 form button {
  display: block;
  margin: auto;
}

.container-contact2 form .select .btn {
  width: 38%;
}

.container-contact2 form .select .options {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  width: 62%;
}

.container-contact2 form .select .options.opened {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container-contact2 form .select .options span {
  padding: 10px 15px;
  cursor: pointer;
  color: #317355;
  background: transparent !important;
}

form .btn {
  background-color: #54b689;
}

form .btn:hover {
  background-color: #317355 !important;
}

.wrap-input2:not(.newsletter) {
  margin-bottom: 40px;
}

div.wrap-input2 {
  position: relative;
}

div.wrap-input2 .grey {
  height: 2px;
  background: #c3c3c3;
  width: 100%;
  display: block;
  left: 0;
  bottom: 0px;
  position: absolute;
}

div.wrap-input2 .cword {
  font-weight: 500;
  position: absolute;
  top: 10px;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

div.wrap-input2 .cword .required {
  color: red;
}

div.wrap-input2 .slide {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#78c5a2), to(#40976f));
  background: linear-gradient(to right, #78c5a2, #40976f);
  width: 0%;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  display: block;
  left: 0;
  bottom: 0px;
  position: absolute;
}

div.wrap-input2 textarea {
  min-height: 80px;
  max-height: 400px;
}

div.wrap-input2 input,
div.wrap-input2 textarea {
  background: transparent !important;
  padding: 10px 0px;
  color: var(--pr-Stext);
  outline: none;
  border: none;
}

div.wrap-input2 input:focus ~ .slide,
div.wrap-input2 textarea:focus ~ .slide {
  width: 100%;
}

div.wrap-input2 input:focus ~ .cword,
div.wrap-input2 textarea:focus ~ .cword {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: var(--pr-stext);
}

div.wrap-input2.filled .slide {
  width: 100%;
}

div.wrap-input2.filled .cword {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media (max-width: 660px) {
  form {
    width: 500px !important;
  }
}

@media (max-width: 560px) {
  form {
    width: 400px !important;
  }
}

@media (max-width: 460px) {
  form {
    width: 98% !important;
  }
  body .main-wrapper .contact2-form-btn {
    width: 75% !important;
  }
}

@media (max-width: 360px) {
  form {
    width: 100% !important;
  }
  body .main-wrapper .contact2-form-btn {
    width: 75% !important;
  }
}
/*# sourceMappingURL=index.css.map */