.blog-view {
	width: 680px;
	margin: auto;
	.heading-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.heading {
		font-size: 52px !important;
		max-width: 90%;
		text-align: center;

		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
.blog__body {
	&__text {
		width: 100% !important;
	}
}
.particular-blog {
	.intro {
		width: calc(100% - 280px);
		position: relative;
		height: auto !important;
		position: fixed;

		&__img {
			left: 0;
			height: 550px;
			margin: auto;
			width: 100% !important;
			position: unset !important;
			display: block;
			object-fit: cover;
		}
	}
}
@media (max-width: 1050px) {
	.particular-blog {
		.cta-section {
			height: auto !important;
		}
		.intro {
			width: 100% !important;
			position: unset;
			&__img {
				height: auto;
			}
		}
	}
}

.cta-section-blog {
	height: 550px;
	position: relative !important;
}

code,
pre {
	white-space: nowrap !important;
	overflow-x: scroll;
	height: auto;
}
.centralizer {
	z-index: 10;
	position: relative;
	background: var(--pr-bg);
	position: relative !important;
}

.blog__body__text {
	overflow: visible !important;
	padding: 3rem 0 !important;
}

.edit-blog {
	position: absolute;
	bottom: 15px;
	right: 15px;
	button {
		font-size: 14px;
		padding: 8px 14px !important;
		transform: scale(0.9);
	}
}
.delete-modal {
	position: fixed !important;
	top: 0%;
	left: 0%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	.centered {
		width: 500px;
		height: 100px;
	}
}
.none {
	border: none;
	cursor: pointer;
	outline: none;
	background: none;
}
.clap {
	transition: 0.3s ease all !important;
	fill: var(--pr-stext);
	width: 26px !important;
	height: 30px !important;
}

.clap-btn {
	&:hover ~ .text-h {
		transform: rotateY(0deg);
	}
	outline: none !important;

	* {
		outline: none !important;
	}
	position: relative;
	&:hover {
		&::after {
			transform: rotateX(0deg);
		}
	}
	&::after {
		content: attr(data-snack);
		position: absolute;
		bottom: 150%;
		left: 0;
		background: black;
		padding: 4px 8px;
		transition: 0.2s ease-in-out transform;
		transform: rotateX(90deg);
		transform-origin: bottom;
		color: white;
		border-radius: 5px;
	}
}

.actions {
	overflow: visible !important;
	* {
		overflow: visible !important;
	}
	position: fixed;
	z-index: 100;
	right: 5%;
	top: 40%;
	opacity: 0;
	pointer-events: none;
	&.appeared {
		transition: 0.1s ease-in-out !important;
		opacity: 1;
		pointer-events: all;
	}
}

.clap-anime-enter {
	opacity: 0;
	transform: scale(0.6);
}
.clap-anime-enter-active {
	transition: 0.3s ease all;
}
.clap-anime-leave-active {
	opacity: 0;
	transform: scale(0.6);
	transition: 0.3s ease all;
}

@media (max-width: 1190px) {
	.actions {
		position: unset !important;
		margin-bottom: 50px;
	}
}
@media (max-width: 725px) {
	.blog-view {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100% !important;
	}
	.blog__body {
		width: 85% !important;
		// margin: 0 auto !important;
		&__text {
			width: 100% !important;
		}
	}
	.heading-container,
	.heading-container .heading {
		width: 90% !important;
	}
}
@media (max-width: 470px) {
	.blog,
	.intro__img {
		height: 250px !important;
	}
	.heading-container,
	.heading-container .heading {
		font-size: 32px !important;
	}
}
