form {
	margin-top: 20px;
}

#Sad {
	fill: var(--pr-stext);
}
.search-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
.search-container {
	position: relative;
	display: flex;
	width: 400px;
	align-items: center;
	overflow: hidden !important;
	border-radius: 4px;

	.fa-search {
		position: absolute;
		left: 10px;
		color: var(--pr-primary-color);
		pointer-events: none;
	}
	.search-bar {
		color: var(--pr-stext);
		width: 100%;
		outline: none;
		border: none;
		padding: 7px 10px 7px 40px;
		background: var(--pr-search-back);
		&::placeholder {
			color: var(--pr-ltext);
		}

		&:focus {
			& ~ .after {
				height: 3px !important;
			}
		}
		&:not(:placeholder-shown) {
			& ~ .after {
				height: 3px !important;
			}
		}
	}
	.after {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0px;
		transition: 0.2s ease-in-out all;
		background: var(--pr-primary-color);
		height: 0px;
	}
}

.newsletter-added-enter {
	transform: translateY(50%);
	opacity: 0;
	pointer-events: none;
}
.newsletter-added-enter-active {
	transition: all 0.2s ease-in-out;
}
.newsletter-added-leave-active {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}
.my-row {
	min-height: 500px !important;
}
body {
	.min-h,
	.main-wrapper {
		height: auto !important;
	}
}
.newsletter {
	background: transparent;
	margin-bottom: 5px;
	input {
		background: transparent !important;
		width: 300px;
	}
}
.main-wrapper {
	min-height: 100vh;
}

.blog-anime-move {
	transition: 0.6s all !important;
	position: relative !important;
	z-index: 100 !important;
	// display: inline-block !important;
}
.blog-anime-enter {
	opacity: 0;
	transform: translateX(-20%);
	display: inline-block !important;
}
.blog-anime-leave-active {
	position: absolute !important;
	z-index: -100 !important;
	display: none !important;
}
.blog-anime-enter-active {
	display: inline-block !important;

	transition-duration: 0.4s !important;
	transition-timing-function: ease !important;
	transition-property: all !important;
}

.blog-lang {
	text-transform: capitalize;
}
.blog .my-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	transition: height 0.2s ease;
	overflow: visible !important;
}
.card-img-top {
	min-height: 170px;
	max-height: 170px;
	object-fit: cover;
}
.blog {
	height: auto;
	transition: height 0.2s ease;

	overflow: visible !important;
}
.success-message {
	background: $primary;
}
.error-message,
.success-message {
	width: max-content !important;

	p {
		padding: 0 30px;
		font-size: 18px !important;

		margin: 0 !important;
	}
}

body .main-wrapper .blog-media {
	width: 300px !important;
}

@media (max-width: 1050px) {
	.blog .signup-form {
		width: 100% !important;
	}
}
@media (max-width: 735px) {
	.blog .heading {
		font-size: 1.75rem !important;
	}
}
@media (max-width: 640px) {
	.blog .heading {
		font-size: 1.5rem !important;
	}
}
@media (max-width: 460px) {
	.blog .signup-form {
		.wrap-input2 {
			width: 80% !important;

			margin-right: 10% !important;
			margin-left: 10% !important;
			margin-bottom: 30px !important;
		}
		input {
			width: 100% !important;
		}
	}
	.error-message,
	.success-message {
		p {
			font-size: 16px !important;
		}
	}
}
@media (max-width: 360px) {
	.blog .signup-form {
		.wrap-input2 {
			width: 96% !important;
			margin-right: 2% !important;
			margin-left: 2% !important;
		}
	}
	.error-message,
	.success-message {
		p {
			font-size: 16px !important;
			padding: 0px 10px !important;
		}
	}
}

@import './blog-view';
@import './add-blog';

.go-back {
	border-radius: 5px;
	border: 1px solid var(--pr-text);
	outline: none;
	background: transparent;
	color: var(--pr-text);
	position: absolute;
	top: 10px;

	padding: 6px 12px;
	overflow: hidden;
	left: 10px;
	font-size: 18px !important;
	&:hover {
		color: var(--pr-stext);
		border-color: var(--pr-stext);
		i {
			animation: goback forwards 0.5s ease;
		}
	}
}
@keyframes goback {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-50px);
	}
	51% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(0px);
	}
}
